// Main colors
main-color = #46b6e3
main-color-2 = #fff
container-size = 1170px

// .header colors
topline-bg = main-color-2
logo__text-color = main-color
address-color = #aaa // font color for .address
headline__text--1-border-color = #f3f6f7

  // .cover colors
  cover-mask = alpha(#000, .22) // mask for .cover
  cover-color = #fff // font color for .cover


  // .menu colors
  menu-bg = alpha(#aaa, .25)
  menu-color = main-color-2 //font color for .menu
  menu__item-hover-color = #5baed0;

  // .statistic colors
  statistic__item-bg = alpha(main-color, .86)
  statistic__item--subtle-bg = alpha(#70c7ea, .86)
  statistic__item-border-color = #fff
  statistic-color = main-color-2 // font color for .statistic
  statistic-subtitle-border = main-color-2

// .order colors
order__headline-color = main-color // font color
order__input-color = #c3c3c3 //font color
order__input-bg = main-color-2
order-bg = #ebebeb // bg color


// Buttons(.btns but not only) colors
btn--blue-bg = main-color
btn-color = main-color-2
btn--transparent-bg = transparent
btn--transparent-border-color = main-color-2

// .about colors
headline-about = #676767
text-color = #8a8a8a //about font color
about-border-color = #666

// .call-to-action color
call-to-action-bg-mask = alpha(#030303, .21)

// .team colors
team-border-color = #707070
team__headline-color= #575757
team__text-color = #a5a5a5

// .location colors
location__headline-color = #555
map-mask = alpha(main-color, .13)

// .footer colors
footer__text-color = #888
footer-bg = #f3f3f3


services__hidden-bg = alpha(main-color, .78)