doctype html
html(lang="ru")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="bower_components/remodal/dist/remodal.css" rel="stylesheet")
    link(href="bower_components/remodal/dist/remodal-default-theme.css" rel="stylesheet")
    link(href="css/style.min.css" rel="stylesheet")

    title Main Code


  body
    block content
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
    script(src="bower_components/jquery-cycle2/build/plugin/jquery.cycle2.carousel.min.js")
    script(src="bower_components/remodal/dist/remodal.min.js")
    script(src="js/script.min.js")